.help-block{color: red; font-family:"Harlow Solid Italic"; font-size: 16px}
.textarea {
    resize: none;
    height: 100px;
}
/*select2*/
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 2px solid #CED4DA;
    border-radius: 4px;
    height: 36px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{line-height: 30px;}
.select2-container--default .select2-selection--single .select2-selection__arrow{height: 34px;}